{% load static i18n thumbnail %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>1 Школа</title>
    <link rel="stylesheet" href="{% static "styles/style.css" %}"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="shortcut icon" href="{% static "img/school4.png" %}" type="image/x-icon">
</head>

<body>
<div class="header-container">
    <header class="header">
        <div class="header-left ">
            <a href="#onescreen" class="header-logo scroll-to">
                <img src="{% static "img/school4.png" %}" alt="logo"/>
            </a>
            <nav class="header__menu">
                <ul class="header__list">
                    <li><a href="#about" class="header__link scroll-to">{% trans "О нас" %}</a></li>
                    <li><a href="#news" class="header__link scroll-to">{% trans "Новости" %}</a></li>
                    <li><a href="#events" class="header__link scroll-to">{% trans "События" %}</a></li>
                    <li><a href="#teachers" class="header__link scroll-to">{% trans "Педагоги" %}</a></li>
                    <li><a href="#questions" class="header__link scroll-to">{% trans "Вопросы" %}</a></li>
                    <li><a href="#contacts" class="header__link scroll-to">{% trans "Контакты" %}</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-other">
            <div class="language">

                {% if "/ru/" in request.path %}
                    <div class="ru">
                        <a href="/ru" class="language_active language__link">RU</a>
                    </div>
                    <div class="stick"></div>
                    <div class="uz">
                        <a href=/uz class="language__link header__link">UZ</a>
                    </div>
                {% else %}
                    <div class="ru">
                        <a href="/ru" class="language__link header__link">RU</a>
                    </div>
                    <div class="stick"></div>
                    <div class="uz">
                        <a href=/uz class="language_active language__link">UZ</a>
                    </div>

                {% endif %}

            </div>
            <div class="number">
                <a href="tel:+998662212826" class="header__link">+998662212826</a>
            </div>
        </div>
        <div class="header__burger">
            <div class="toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
</div>
<section class="onescreen" id="onescreen">
    <div class="videoBackground">
        <video src="{% static "videos/Intro.mp4" %}" muted autoplay></video>
    </div>
    <div class="container">
        <div class="onescreen-content">
            <h1 class="content-title">{% trans "Специализированная <span class='green'>“коррекционная”</span> <br/> школа номер 1 (VIII) восьмого вида города <br/> Самарканда" %}

            </h1>
            <p class="content-subtitle">
                {% trans "Школа для детей с особыми образовательными потребностями. Работаем с 1982 года" %}
            </p>
            <a href="#about" class="content-button button scroll-to" id="about">{% trans "Подробнее" %}</a>
        </div>
    </div>
</section>
<section class="about">
    <div class="container">
        <h2 class="about-title green">{% trans "О школе" %}</h2>
        <div class="about-content">
            <div class="content-item">
                <div class="content-text">
                    {{ main_block.about_school_text_1|safe }}
                    {#                    <span class="green">В течение последних лет</span> уделяется большое внимание трудовому и#}
                    {#                    профессиональному обучению учащихся с ограниченными умственными возможностями, подготовки их#}
                    {#                    самостоятельной жизни социализации в обществе и приобретению практических трудовых навыков и#}
                    {#                    профессий принося щих пользу своим семьям и государству.#}
                </div>
                <div class="content-img">
                    <img src="{{ main_block.about_school_picture_1.url }}" alt="about1"/>
                </div>
            </div>
            <div class="content-item">
                <div class="content-img">
                    <img src="{{ main_block.about_school_picture_2.url }}" alt="about1"/>
                </div>
                <div class="content-text">
                    {{ main_block.about_school_text_2|safe }}
                    {#                    <span class="green">Во второй половине дня</span> в школе работает 14 кружков по интересам,которые#}
                    {#                    проводят воспитатели ГПД. Так же проводятся кружки, которые увеличивают интерес к учебному предмету#}
                    {#                    и улучшают качество знаний учащихся.#}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="history">
    <div class="history-img">
        <img src="{% static "img/Rectangle 7shoolhistory.jpg" %}" alt="historybg"/>
        <div class="container">
            <h2 class="title">{% trans "История школы" %}</h2>
            <p class="text">
                {{ main_block.history_of_school }}
                {#                Год основания - 1982. За годы существования школы было произведено 37 выпусков учащихся школы. В 2016#}
                {#                году школа переведена в новое здание по адресу улица Наиман, дом 26.#}
            </p>
        </div>
    </div>
</section>

<div id="news"><br>
    <br><br></div>

<section class="news">
    <div class="container">
        <div class="top">
            <h2 class="title">{% trans "Новости" %}</h2>
            <h3 class="changedData">{% trans "Обновлено" %} {{ last_updated.date_created|date:"d.m.Y" }}</h3>
        </div>
        <div class="news-items">

            {% for new in news %}

            <div class="news-item">

                {% thumbnail new.picture "500x600" crop="center" quality=90 as im %}
{#                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">#}
                    <img src="{{ im.url }}" alt="firstNew"/>
                {% endthumbnail %}
{#                <img src="{{ new.picture.url }}" alt="firstNew"/>#}
                <p class="itemData">{{ new.date_created|date:"d.m.Y" }}</p>
                <p class="item-text">
                    {{ new.text }}

{#                    It is a long established fact that a reader will be distracted by#}
{#                    the readable content of a page when looking at its layout. The#}
{#                    point of using Loremke readable Eng#}
                </p>
            </div>

            {% endfor %}


{#            <div class="news-item">#}
{#                <img src="{% static "img/Rectangle 10new1.jpg" %}" alt="secondNew"/>#}
{#                <p class="itemData">20.01.2022</p>#}
{#                <p class="item-text">#}
{#                    It is a long established fact that a reader will be distracted by#}
{#                    the readable content of a page when looking at its layout. The#}
{#                    point of using Loremke readable Eng#}
{#                </p>#}
{#            </div>#}
{##}
{#            <div class="news-item">#}
{#                <img src="{% static "img/Rectangle 10new1.jpg" %}" alt="therdNew"/>#}
{#                <p class="itemData">20.01.2022</p>#}
{##}
{#                <p class="item-text">#}
{#                    It is a long established fact that a reader will be distracted by#}
{#                    the readable content of a page when looking at its layout. The#}
{#                    point of using Loremke readable Eng#}
{#                </p>#}
{#            </div>#}
        </div>
    </div>
</section>
<div id="events"></div>
<section class="events">
    <div class="container">
        <h2 class="title">События</h2>
    </div>
    <div class="events-slider">
        <div style="
            --swiper-navigation-color: #fff;
            --swiper-pagination-color: #fff;
          " class="swiper mySwiper">
            <div class="parallax-bg" style="
              background-image: url({{ main_block.slider_picture.url }});
            " data-swiper-parallax="-23%"></div>
            <div class="swiper-wrapper">

                {% for slider in sliders %}

                <div class="swiper-slide">
                    <div class="title" data-swiper-parallax="-300">
                        {{ slider.title }}
{#                        Выступление 3Б класса на утреннике#}
                    </div>
                    <div class="subtitle" data-swiper-parallax="-200">
                        {{ slider.subtitle }}
                    </div>
                    <div class="text" data-swiper-parallax="-100">
                        <p>
                            {{ slider.text }}
                        </p>
                    </div>
                </div>

                {% endfor %}

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>
<section class="counter">
    <div class="container">
        <div class="top">
            <div class="item">
                <div class="count">
                    <h2 class="count_number">{{ main_block.student_counter }}</h2>
                    <h2 class="doing">{% trans "Учатся в нашей школе" %}</h2>
                </div>
                <span class="who three">{% trans "Учеников" %}  </span>
            </div>
            <div class="item">
                <div class="count">
                    <h2 class="count_number">{{ main_block.teacher_counter }}</h2>
                    <h2 class="doing">{% trans "Учат в нашей школе" %}</h2>
                </div>
                <span class="who">{% trans "Педагогов" %}  </span>
            </div>
        </div>
        <div class="bottom">
            <div class="item">
                <div class="count">
                    <h2 class="count_number">{{ main_block.cabinet_counter }}</h2>
                    <h2 class="doing">{% trans "Есть в нашей школе" %}</h2>
                </div>
                <span class="who">{% trans "Кабинетов" %}</span>
            </div>
            <div class="item">
                <div class="count">
                    <h2 class="count_number">{{ main_block.program_counter }}</h2>
                    <h2 class="doing">{% trans "Программ обучения" %}</h2>
                </div>
                <span class="who"> {% trans "Программ" %} </span>
            </div>
        </div>
    </div>
</section>
<div id="teachers"></div>
<section class="teachers">
    <div class="container">
        <h2 class="title">

            {% trans "Наши <br/> педагоги" %}

        </h2>

        <div class="items">

            {% for teacher in teachers %}

            <div class="item">
                <div class="item-img">
                    <img src="{{ teacher.picture.url }}" alt="teacher"/>
                </div>
                <div class="text">
                    <div class="name">
                        <h2>{{ teacher.name }}</h2>
                    </div>
                    <div class="discription">
                        <p>
                           {{ teacher.description }}
                        </p>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</section>
<div id="questions"></div>
<section class="questions">
    <div class="container">
        <h2 class="title">{% trans "Частые вопросы" %}</h2>
        <div class="questions-wrapper one">



            {% for question in questions %}

            <div class="question">
                <div class="line">
                    <img src="{% static "img/Arrow 1stick.svg" %}" alt="line">
                </div>
                <div class="questions-content">
                    <div class="qustion">
                        <h2 class="green">{{ question.question }}</h2>
                        <p class="answer">
                            {{ question.answer }}
{#                            В Узбекистане существует 8-видов Специализированных образовательных учреждений для детей с#}
{#                            особыми образовательными потребностями. VIII-вид-для детей с ограниченными умственными#}
{#                            возможностями.#}
                        </p>
                    </div>
                    <div class="answer-button"></div>
                </div>
                <div class="line">
                    <img src="{% static "img/Arrow 1stick.svg" %}" alt="line">
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</section>
<div id="contacts"></div>
<section class="contacts">
    <div class="container">
        <h2 class="title green">{% trans "Контакты" %}</h2>
        <h3 class="subtitle">
            {% trans "Остались вопросы? оставьте свои данные чтобы мы могли связаться с вами и ответить на ваши вопросы!" %}
        </h3>
        <div class="contacts-items">
            <div class="left-items">
                <div class="container">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input name="name" type="text" placeholder="{% trans "Введите ваше имя" %}" class="block name input" required/>
                        <input name="email" type="email" placeholder="{% trans "Введите ваш email" %}" class="block input" required/>
                        <input name="phone" type="phone" placeholder="{% trans "Введите ваш номер" %}" class="block input" required/>
                        <textarea name="comment" id="" cols="30" rows="10" class="block comment" required
                                  placeholder="{% trans "Введите ваше сообщение" %}"></textarea>
                        <div class="buttons">
                            <input type="submit" value="{% trans "Подтвердить" %}" class="button"/>
                            <button type="reset" class="button">{% trans "Отменить" %}</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="right-items">
                <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d946.8997332347191!2d66.93174452924886!3d39.65703403120384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f4d198e4c1646a7%3A0x440fb2d4c755c63d!2z0KHQv9C10YbQuNCw0LvQuNC30LjRgNC-0LLQsNC90L3QsNGPIMKr0LrQvtGA0YDQtdC60YbQuNC-0L3QvdCw0Y_CuyDRiNC60L7Qu9CwINC90L7QvNC10YAgMSAoVklJSSkg0LLQvtGB0YzQvNC-0LPQviDQstC40LTQsCDQs9C-0YDQvtC00LAg0KHQsNC80LDRgNC60LDQvdC00LA!5e1!3m2!1sru!2s!4v1644646933225!5m2!1sru!2s"
                        class="map" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="title">
            <img src="{% static "img/school4.png" %}" alt="logo" class="logo"/>
            <h2>
                {% trans "Специализированная «коррекционная» школа номер 1 (VIII) восьмого вида города самарканда" %}

            </h2>
        </div>
        <div class="links">
            <div class="top">
                <div class="numbers">
                    <a href="tel:+998662212826" class="footer__link">+998662212826</a>
                    <a href="tel:+998662348149" class="footer__link">+998662348149</a>
                    <a href="tel:+998906560874" class="footer__link">+998906560874</a>
                </div>
                <div class="navMenu">
                    <a href="#questions" class="footer__link scroll-to">Вопросы</a>
                    <a href="#events" class="footer__link scroll-to">События</a>
                    <a href="#contacts" class="footer__link scroll-to">Контакты</a>
                </div>
            </div>
            <div class="bottom">
                <div class="documentation">
                    <a href="#" class="footer__link">Политика конфеденциальности</a>
                    <a href="https://lcode.uz/" class="footer__link">Сайт разработан в 2022 году <br> by liberty code</a>
                </div>
                <div class="adress">
                    <p class="footer__link">улица Наиман 26<br> ориентир: институт сельхоз</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{% static "scripts/script.js" %}"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        speed: 600,
        parallax: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });

</script>
</body>

</html>